.button {
    -fx-background-color:#ff9800;
    -fx-font-weight:bold;
}

.menu-foodtext {
-fx-font-weight: bold;
    -fx-color:red;


}

.dropbox
{
    -fx-padding:  10px;
    -fx-background-color:  white;
    -fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.7) , 9,0,0,1 );
}


